<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device.width, initial-scale=1.0">
        <title>Enter Location</title>
    </head>
    <body>
        <div class="card">
            <h1>
                Enter Location        
            </h1>
            <form action="/submit" method="post">
                <label for="address">Location</label><br>
                <textarea address="address" name="address" required></textarea>
                <br><input type="submit" value="Submit"><br>
            </form>
        </div>
    </body>
</html>